*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 1 rem = 16 px */
    font-size: 62.5%; /* acá hacemos que 1 rem sea igual a 10 px .. 1 rem = 10 px */
    /* usar siempre relativas (rem) para poder hacerlo responsive */
    /* rem se usa más para tipografías */
    /* em se usa más para lo que es el código */
    font-family: Poppins;
}

header{
    background-color: darkslategray;
    color: white;
}
header a{
    color: white;
}

/** BOOTSTRAP **/
#intro {
    background-image: url("../assets/img/fondo-inicio.jpg");
    background-size: cover;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center center;
  }
.img-max-card {
    max-width: 30em;
    width:100%;
  }
/** FIN BOOTSTRAP**/
.header-top, .header-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1rem 2rem;
} 
.header-top{
    align-items: center;
    border-bottom: 1px solid white;
}
.header-bottom{
    align-items: end;
}
.header-info, .header-social {
    display: flex; /* indica flexbox */
    flex-direction: row;
    gap: 4rem; /* sepración entre elementos */
    list-style: none;
}

.header-social img{
    max-width: 2rem;
    max-height: 2rem;
}
.menu-ppal{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.contenedor{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    max-width: 120rem;
    width: 100%;
}

.titulo-pagina{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 22rem 0px 8rem 0px;
    background-position: center center;
}

.titulo-pagina h1{
    font-size: 2rem;
    padding-left: 2rem;
}

.breadcrumb{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #272727;
    padding: 1rem 2rem; 
    background-color: #f6f6fc;
    font-size: 1.5rem;
    height: 5rem;
    border-bottom: 1px solid #e2e2e5;
}
.breadcrumb a{
    color: #272727;
}

.galeria-de-3{
    max-width: 122rem;
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    gap: 5rem;
    padding: 2rem;
}

.galeria-de-3 img{
    /*max-width: 30rem;
    max-height: 20rem;*/
    object-fit: cover;
    width: 32rem;
    height: 22rem;
}
.galeria-de-3 h3{
    text-align: center;
}

.galeria-de-2{
    max-width: 122rem;
    display: grid; 
    align-items: center;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr;
    width: 100%;
    /*grid-template-areas: ;*/
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

footer{
    background-color: #0B2630;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}
footer img{
    width: 30rem;
    height: 10rem;
}
footer a{
    color: white;
}
footer li{
    list-style: none;
}


@media (max-width:1200px){
    
}
@media (max-width:1024px){
    .contenido{
        max-width: 80rem;
        width: 100%;
    }
    .galeria-de-3{
        display: grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        /*grid-template-areas: ;*/
    }
}
@media (max-width:768px){
    .header-top{
        flex-direction: column;
        align-items: center;
    }
}

/* Dispositivos móviles */
@media (max-width:426px){
    .header-bottom, .header-top{
        font-size: 1rem;
        font-weight: 100;
    }
    .header-bottom{
        flex-direction: column;
        align-items: center;
    }
    .header-info {
        display: none;
    }
    .breadcrumb{
        font-size: 1rem;
        font-weight: 100;
    }
    .galeria-de-3{
        display: grid; 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9,1fr);
    }
    .galeria-de-2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);;
    }
    footer{
        flex-direction: column;
        align-items: center;
    }
    footer h3{
        font-weight: 200;
    }
}
@media (min-width:320){
}